[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[project]
	description = 项目owner: 邓玲龙
[access "refs/*"]
	owner = group user/denglinglong (ut001157)
[access "refs/tags/*"]
	createTag = group user/chenshijie (ut001947)
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
